#month {
  border-top: 1px solid rgba(166, 168, 179, 0.12);
  border-left: 1px solid rgba(166, 168, 179, 0.12);
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
}

.day-wrapper {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  box-sizing: border-box;
  cursor: context-menu;
  padding: .5rem;
  overflow-y: auto
}

.day-faded {
  opacity: .2;
}